@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.text-light-gray {
    color: #727272;
}
.main-color {
    color: #ff900e;
}
.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #ff900e;
    padding: 20px 25px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* Header Style */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 32px 240px;
}
.nav-container {
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3rem auto;
}
.link-container ul {
    display: flex;
}
.nav-link {
    list-style-type: none;
}
.link-container a {
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;
}

.banner-container {
    max-width: 1340px;
    margin: 0 auto;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-heading {
    color: #131313;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.banner-description {
    font-size: 16px;
}
.banner-img {
    width: 100%;
    margin-bottom: 1rem;
}
.banner-btn {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* Responsive banner */

/* Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    .nav-container {
        flex-direction: column;
    }
    .link-container {
        margin-top: 3rem;
    }
}

/* tablet or medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 25px;
    }
    .nav-container {
        flex-direction: column;
    }
    .link-container {
        margin-top: 3rem;
    }
}

/* Main Section Style */
main {
    max-width: 1240px;
    margin: 5rem auto;
}

.teams-container {
    display: flex;
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content {
    width: 468px;
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
    margin-bottom: 1.2rem;
}
.teams-description {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Responsive Teams */

/* Mobile Devices */
@media screen and (max-width: 576px) {
    .teams-container {
        flex-direction: column;
    }
    .teams-content {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-img-container {
        grid-template-columns: 1fr;
        gap: 18px;
        margin-bottom: 1.5rem;
    }
}

/* tablet or medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams-container {
        flex-direction: column;
    }
    .teams-content {
        width: fit-content;
        padding: 0 6rem;
    }
    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        margin-bottom: 1.5rem;
    }
    .teams-description {
        text-align: justify;
    }
}

/* Some Facts */
.facts-main-container {
    margin-top: 5rem;
}
.facts-description {
    margin-top: 1.5rem;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 40px 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Mobile Devices */
@media screen and (max-width: 576px) {
    .facts-card-container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .facts-main-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* tablet or medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .facts-main-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}
